/* headline & bold font */
@font-face {
  font-family: 'Sniglet-master';
  src: url('/fonts/sniglet-master/webfonts/Sniglet-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

body {
  /* margin: 2.5% auto; */
  max-width: 1500px;
  padding: 25px;
  margin: 10px;
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  background-color: powderblue;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
}

h1,
h2 {
  font-family: Sniglet-master, cursive;
  font-style: normal;
  text-align: center;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

p {
  font-size: 100%;
  font-style: normal;
  text-align: center;
}

a {
  color: black;
}

strong {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

figcaption {
  font-size: 125%;
  font-style: normal;
  text-align: center;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  width: 250px;
}