/* tag selectors */
body {
  margin: 1% 10% 0% 10%;
  background-color: #fce051;
  font-size: 16px;
  font-family: 'Noto Sans', 'Roboto', sans-serif;
}

header {
  font-family: 'Modak', cursive;
  font-size: 800%;
  text-align: center;
  border-style: dashed;
  border-color: #a1f1d6;
}

nav,
footer {
  background-color: #a1f1d6;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Modak', cursive;
  letter-spacing: 0.08em;
}

h1 {
  color: #f66dd5;
  font-size: 5em;
  text-align: center;
}

h2 {
  color: #009ad6;
  font-size: 1.6em;
}

ul {
  list-style-type: circle;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

a {
  font-family: 'Modak', cursive;
  letter-spacing: 0.08em;
  text-decoration: none;
  text-transform: lowercase;
  color: #009ad6;
}

a:visited {
  color: #858C7B;
}

a:hover {
  color: #151814;
  background-color: #DFFFD6;
  text-transform: uppercase;
  font-weight: normal;
}

a:active {
  background-color: #F3FFE1;
}

/* id selectors */
#lil-baker-letter {
  background-color: #ffffff;
  font-style: italic;
  width: 90%;
  border-style: dashed;
  border-color: #f66dd5;
  padding: 25px;
}

#home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}

/* class selectors */
.blog {
  background-color: #ffffff;
  width: 90%;
  border-style: dashed;
  border-color: #f66dd5;
  padding: 25px;
}

.logo {
  width: 16px;
}

.players {
  background-color: #a1f1d6;
  border-radius: 8em;
  padding: 10px 10px 10px 10px;
}

.players img {
  width: 200px;
  float: left;
}

.photo {
  width: 600px;
}

.responsive-vid {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.responsive-vid iframe,
.responsive-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}