body {
  background-color: #fce051;
}

nav,
footer {
  background-color: #a1f1d6;
}

h1 {
  color: #f66dd5;
  font-family: 'Modak', cursive;
}

h2,
h3 {
  color: #009ad6;
  font-family: 'Modak', cursive;
}

p,
ol,
li,
blockquote {
  font-family: 'Noto Sans', sans-serif;
}