/* tag selectors */
body {
  background-color: #fce051;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

nav,
footer {
  background-color: #a1f1d6;
}

h1,
h2 {
  font-family: 'Modak', cursive;
}

h1 {
  color: #f66dd5;
  font-size: 5em;
}

h2 {
  color: #009ad6;
  font-size: 1.6em;
}

ul {
  list-style-type: circle;
}

/* id selectors */
#lil-baker-letter {
  background-color: #ffffff;
}

/* class selectors */